<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "name" %>

        <%= f.email_field :email, placeholder: "email" %>

        <%= f.password_field :password, placeholder: "password" %>

        <%= f.password_field :password_confirmation, placeholder: "confirm password" %>

        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
